{% load static %}
<!doctype html>
<html>

<head>
    <title>Doctor Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static 'healthApp/dashboardStyle.css' %}">
</head>
<h1>
    Welcome to Your Health Portal {{currentDoctor.Name}}
</h1>

<body>
    <div class="button-container">
        <div class="button-group">
            <form action="ProcedureInfo">
                <input type="submit" value="View Procedures" />
            </form>
            <form action="WorksAtInfo">
                <input type="submit" value="View Where You Work" />
            </form>
            <form action="ViewHospitals">
                <input type="submit" value="View Hospitals" />
            </form>
        </div>

        <div class="button-group">
            <form action="MedicationInfo">
                <input type="submit" value="View Medications" />
            </form>
            <form action="DoctorViewPatientsView">
                <input type="submit" value="View Patients" />
            </form>
        </div>

        <div class="button-group">
            <form action="ManufacturedByInfo">
                <input type="submit" value="View Manufactured By" />
            </form>
            <form action="PrescriptionsDoctorInfo">
                <input type="submit" value="View Written Prescriptions" />
            </form>
        </div>
        <div class="logout-button">
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    </div>
</body>

</html>